<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <!--命名空间-->
    <namespace name="TaskSchedulerToolkit" />
    <!--程序集-->
    <assembly name="TaskSchedulerToolkit"/>
    <container>
      <register type="ITask" name="TestService" mapTo="TestScheduler"/>
    </container>
  </unity>
</configuration>